.green{
    background-color: greenyellow;
    height: 150px;
    width: 150px;
    margin: auto;
}
.red{
    background-color: red;
    height: 150px;
    width: 150px;
    margin: auto;
}
.blue{
    background-color: blue;
    height: 150px;
    width: 150px;
    margin: auto;
}