html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .MainDiv {
        background-color: rgb(194, 184, 184);
        border-radius: 10px;
        width: 450px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        &__Navigation {
            width: 150px;
            margin-bottom: 10px;
        }

        form {
            .Prompt {
                background-color: rgb(167, 163, 163);
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 150px;
                width: auto;           
                border-radius: 10px;
                p{
                    text-align: center;
                    font-size: 20px;
                }
                button{
                    font-size: 13px;
                    
                }   
            }
        }
    }
}