.mainDiv {
    display: flex;
    justify-content: center;

    &__productBox {
        background-color: rgb(86, 141, 223);
        height: 180px;
        width: 200px;
        margin-top: 10px;
    }

    p {
        text-align: left;
        margin-top: -10px;
        position: relative;
    }
}

    img {
        height: 50px;
    }