body {
    direction: rtl;

    .mainDiv {
        // justify-content: center;
        // align-items: center;
        // display: flex;
        // flex-direction: column;
        // margin-right: 0;

        .filter {
            justify-content: center;
            margin-top: 3rem;
            margin-right: 35rem;

            button {
                width: 370px;
                height: 100px;
                font-size: 25px;

                img {
                    height: 3rem;
                    width: 3rem;
                    position: absolute;
                    margin-top: -0.6rem;
                    margin-right: 1.25rem;
                    transform: scaleX(-1);
                }
            }

            input {
                width: 23rem;
                margin-right: 11rem;
                margin-top: 1rem;
                height: 1.5rem;
            }
        }
    }


}

table {
    width: 80vw;
    margin-left: 5rem;
    margin-right: 11rem;
    margin-top: 2rem;
    direction: rtl;
    border-spacing: 0;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-weight: 600;

    th,
    td {
        // border: 1px solid #000;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: gray;
    }

    tr {
        background-color: rgb(148, 148, 238);
        padding: 5px;
        border: 1px solid black;
    }
}


@media screen and (max-width: 767px) {
    .mainDiv {
        // width: auto;
        // margin: 0 auto;
    }

    .filter {
        // width: 10rem;
        margin-left: 12rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    button {
        // width: 1rem;
        // height: 1rem;
    }

    table {
        // margin-left: 2rem;
        margin-right: 32rem;
        max-width: 100%;
    }
}