body {
    justify-content: center;
  }
  
  form {
    width: 300px;
    padding: 20px;
    margin: auto;
    display: grid;
  }
  
  .signin {
    width: 300px;
    padding: 20px;
    margin: auto;
    display: grid;
  }