.green-box{
    height: 700px;
    width: 220px;
    background-color: rgb(93, 200, 66);
    position: absolute;
}
.blue-box{
    height: 100px;
    width: 100px;
    background-color: rgb(93, 200, 66);
    position: absolute;
}
