.box{
    height: 150px;
    width: 150px;
}
.mainBox{
border: 1px black solid;
width: 149px;
}
.redBox{
background-color: red;
}
.greenBox{
background-color: green;
}
.blueBox{
background-color: blue;
}
.yellowBox{
background-color: yellow;
}