.main {
    background-color: rgb(119, 187, 192);
    height: 19rem;
    width: 10rem;
    margin: 200px;
}

.screenCalc {
    width: 90%;
    height: 10%;
    background-color: chartreuse;
    margin: 5px;
}

button {
    color: blueviolet;
    height: 35px;
    width: 40px;
    margin: 5px;
}

.c {
    width: 95%;
}