.main{
    height: 500px;
    width: 300px;
    background-color:darksalmon;
    margin: auto;
    
    input, .big_button{
        width: 292px;
        height: 50px;
    }

    button{
        text-align: center;
        width: 70px;
        height: 55px;
        font-size: 35px;
        
    }
    
}