.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.search {
    width: 80%;
    margin-left: 150px;
    margin-top: 25px;
    height: 20px;
}

.dogBox {
    height: 380px;
    width: 320px;
    background-color: cornflowerblue;
    margin: 25px;
}