.main{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // // width: 80%;
    // margin: auto;
    // width: 80%;
    // border: 3px solid green;
    // padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.dogBox{
    height: 380px;
    width:320px;
    background-color:cornflowerblue;
    margin: 25px;
}